@import "tailwindcss";

/* Isso força o fundo escuro mesmo se o tailwind falhar por um segundo */
html, body {
  background-color: #020617 !important;
  color: white;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}